

~archive/
Windows Post-Flight/~archive

# Disregard
code-chunks.txt
Wi-Fi-TESCWireless.xml
unattend.xml


*.old
Scientific_Computing_Inventory.txt
Domain_Join_Password.txt
Local_Administrator_Password.txt
Wi-Fi-TESCWireless.xml

WPF_Seed_Dev_Updater.cmd
WPF_Seed_Updater.cmd

TESC-Windows-Post-Flight-dev.config