###############################################################################
# Windows Post-Flight Commander Configuration File
# Author: David Geeraerts
# Location: Olympia, Washington USA
# E-Mail: geeraerd@evergreen.edu
#
# Copyleft License(s)
#
# GNU GPL Version 3
# https://www.gnu.org/licenses/gpl.html
#
###############################################################################

###############################################################################
#	##	VERSIONING INFORMATION	##
#	##	Semantic Versioning used##
#		http://semver.org/
###############################################################################

###############################################################################
# Windows Post-Flight Tool Configuration File
###############################################################################

# Schema version for the configuration file
WPF_CONFIG_SCHEMA_VERSION=3.4.1

###############################################################################
# Git Information
# GitHub [https://github.com]

# GitHub Repository Name: WPF
# HTTPS URI (for cloning)
GITHUB_REPOSITORY_NAME=WPF
GITHUB_REPOSITORY_HTTPS_URI=https://github.com/DavidGeeraerts/WPF.git
GITHUB_REPOSITORY_SSH=
###############################################################################

###############################################################################
# MAIN CONFIGURATION SECTION
###############################################################################

# Working Directory for Post-Flight
# this is also the (local storage) seed location for Post-Flight
POST_FLIGHT_DIR=%ProgramData%\TESC\Windows-Post-Flight
POST_FLIGHT_CMD_NAME=Windows-Post-Flight.cmd

# Log Files Settings
#  Main script log file
LOG_LOCATION=%ProgramData%\TESC\Windows-Post-Flight\Logs
LOG_FILE=Windows-Post-Flight.Log

# Log File shipping
#	ship logs to a server \\<SERVER>\<Share>
LOG_SHIPPING_LOCATION=\\SC-Vanadium\Logs\Windows-Post-Flight\%COMPUTERNAME%


# Seed Drive
#  provide the label for the Seed drive
#  Seed drive should contain all of the necessary files, especially if not pre-seeded in the working directory
SEED_DRIVE_VOLUME_LABEL=POSTFLIGHT

# File that contains host 'database'
#  Seed DRIVE acts as the backup & update location for HOST_FILE_DATABASE (& OTHER assets)
#   format
     #Hostname #MAC 00-00-00-00-00-00
#     this is the location and file name where the commandlet expects it
#     commandlet will auto-update from [source] Seed drive to destination
HOST_FILE_DATABASE_LOCATION=%POST_FLIGHT_DIR%
HOST_FILE_DATABASE=Scientific_Computing_MAC_List.txt

# Quick Windows Unattend.xml generator:
#  http://windowsafg.no-ip.org/

# Default Host name from Unattend.xml file
DEFAULT_HOSTNAME=SC-RENAME
# Default User from Unattend.xml file
DEFAULT_USER=science

# Local Administrator Password
#  assumes it will be in the working directory
LOCAL_ADMIN_PW_FILE=Local_Administrator_Password.txt

# Hard Drive Configuration
#  assumes it will be in the working directory
DISKPART_COMMAND_FILE=DiskPart_Hard_Drive_Config.txt


# NETDOM CONFIGURATION
#  to skip this step, leave domain as NOT_SET
#   NETDOM_DOMAIN=NOT_SET
NETDOM_DOMAIN=evergreen.edu
NETDOM_USERD=david_su
# To be prompted for password
# SET NETDOM_PASSWORDD=*
NETDOM_PASSWORDD=
NETDOM_USERD_PW_FILE=Domain_Join_Password.txt
NETDOM_REBOOT=30
# Future use
#  (Not currently used)
# NETDOM_USERO=
# NETDOM_PASSWORDO=
# NETDOM_OU=

# Active Directory Settings
#	OU to create computer object if it doesn't exist
AD_COMPUTER_OU=Unmanaged_Computers

# Windows Network AD NETLOGON
AD_NETLOGON=\\Evergreen.edu\NETLOGON

# Chocolatey
#  DEFAULT LOCATION FOR Chocolatey is %PROGRAMDATA%\chocolatey
#  Choco created a variable called ChocolateyInstall for location
#  Universal as default
CHOCO_META_PACKAGE=Universal
#  location & name
CHOCO_PACKAGE_LIST_LOCATION=%POST_FLIGHT_DIR%
CHOCO_PACKAGE_LIST_FILE=Chocolatey_%CHOCO_META_PACKAGE%_Packages.txt


# Ultimate Commandlet configurations
#  <verbage to explain>
ULTIMATE_FILE_LOCATION=%POST_FLIGHT_DIR%
ULTIMATE_FILE_NAME=SC_Sorcerer's_Apprentice.cmd


###########################################################################
#		*******************
#		 Advanced Settings
#		*******************
###########################################################################

# To cleanup or Not to cleanup, the seed location
#  0 = OFF (NO)
#  1= ON (YES)
SEED_LOCATION_CLEANUP=1

# LOGGING LEVEL CONTROL
#  by default, ALL=0 & TRACE=0
LOG_LEVEL_ALL=0
LOG_LEVEL_INFO=1
LOG_LEVEL_WARN=1
LOG_LEVEL_ERROR=1
LOG_LEVEL_FATAL=1
LOG_LEVEL_DEBUG=0
LOG_LEVEL_TRACE=0


# DEBUG Mode
# Turn on debugging regardless of host
# 0 = OFF (NO)
# 1 = ON (YES)
DEBUG_MODE=0

# DEBUGGER
#	computer used for debugging and testing that will automatically turn on ALL logging and turn on DEBUG_MODE
DEBUGGER=SC-Cavia


# Cleanup var folder
# 0 = OFF (NO)
# 1 = ON (YES)
VAR_CLEANUP=1


# Chocolatey advanced
#  turn on advanced Chocolatey package assignment based on hostname criteria
#  each package list must be paired with criteria_Chocolatey_%CHOCO_META_PACKAGE%_Packages.txt file 
#   i.e. criteria_Chocolatey_Universal_Packages.txt
#  0 = OFF (NO)
#  1= ON (YES)
CHOCOLATEY_ADVANCED=1
#  the list should be in a hierchical order, meaning first match will be selected
#  leave the default package last in the list.
#	Each Package should have 2 text files associated with it
#		(1) Chocolatey_<PackageList>_Packages.txt
#		(2)	criteria_Chocolatey_<PackageList>_Packages.txt
CHOCO_META_PACKAGE_LIST=CAL XPS18 Science Cavia Universal


# RSAT (Remote Server Administration Tools) [NETDOM]
#  Windows Main Download Page
#   https://www.microsoft.com/en-us/download/confirmation.aspx?id=45520&6B49FDFB-8E5B-4B07-BC31-15695C5A2143=1
RSAT_PACKAGE_W10x64=WindowsTH-RSAT_WS_1803-x64.msu


# Use a wireless network
#	netsh wlan connect name=%WIRELESS_CONFIG_NAME% ssid=%WIRELESS_CONFIG_SSID% interface=%WIRELESS_CONFIG_INTERFACE%
# Turn On or Off
WIRELESS_SETUP=0
## profile name
WIRELESS_CONFIG_NAME=TESCWireless
WIRELESS_CONFIG_SSID=TESCWireless
WIRELESS_CONFIG_INTERFACE=Wi-Fi
# There needs to be a Wireless profile file who's name should be %WIRELESS_CONFIG_INTERFACE%-%WIRELESS_CONFIG_NAME%.xml
WIRELESS_PROFILE_FILENAME=Wi-Fi-TESCWireless.xml

###############################################################################
